/*
-- IMPORTS
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*
--VARIABLE--
*/


:root{
    --color-mostazaclaro:#ffbd69;
    --color-mostaza:#f37121;
    --color-rojo:#c70039;
    --color-grisClaro: #ebebeb;
    --color-grisOscuro: #666666;
    --color-azul: #111D5E;
}

/*
-- GENERALES
*/
*{
    box-sizing: border-box;
    margin:0
}
body{
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    background-color:var(--color-grisClaro);
}
a{
    text-decoration: none;
    color: var(--color-mostazaclaro);
}
a:hover{
    color:white;
    text-decoration: none;
}
li{
    display: inline;
}


/*
-- HEADER
*/

header{
    background-color:var(--color-azul);
    padding: 20px;
}

header .logo{
    padding: 0;
}

header form{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}
header form input{
    border: solid 1px var(--color-grisClaro);
display: block;
width: 100%;
padding: 7px 35px 7px 7px;
border-radius: 5px;
height: 40px;
}

header form button{
    position: absolute;
    right: 2px;
    height: 60%;
    background-color:var(--color-grisClaro);
    border: none;
    border-left: solid 1px var(--color-grisClaro);
    cursor: pointer;
}
header .cuotas{
    margin: 20px 0;
    text-align: center;
   
}

header nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

header nav button.burger{
    background-color:var(--color-rojo);
    color:var(--color-azul);
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
}
.usuario {
    display: none;
}
.usuario li{
    margin-right: 20%;
    float:right;
}
.menu li{
margin-top: 10px;
}
.ingreso li {
    margin-top: 10px;
}

/* --- VERSION PARA TABLET (768px) --- */

@media(min-width:768px){
     header{
     position: fixed;
     }
    header .cuotas{
        margin: 0;
        text-align: right;
    }

    header ul li{
        padding-right: 12px;
        margin-top:10px;
    }
    
    header ul.usuario li:last-child{
        padding-right: 0;
    }
    .usuario{
        display: inline;
        margin-left: 40px;
        padding-top: 15px;
    }
    .ingreso{
        display: none;
    }
   

/* --- VERSION PARA ESCRITORIO (1024px) --- */

@media(min-width:1024px){
    .productos article h2{
       font-size: 1.3rem;
    }
    .productos article i {
    
        font-size: 20px;
        
      
}
.usuario li{
    margin-right: 60px;
}
.usuario{
    margin-left: 40px;
    padding-top: 15px;
}
header{
    position: fixed;
}
.ingreso{
    display: none;
}


}
}