<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <header>
        <div>
            <h1>Home del sitio</h1>
        </div>
    </header>
</body>
</html>