<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <section class="section-pagetop bg">
        <div class="container">
            <h2 class="title-page">Perfil</h2>
            <nav>
                <ol class="breadcrumb text-white">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Mi cuenta</li>
                </ol>
            </nav>
        </div>
    </section>
    <div class="container padding-y">

        <div class="row mb-5">
            <%- include('partials/menuPerfil') %>
            <main class="col-md-9">
                <article class="card">
                    <div class="card-body">
                        <div class="row">
                            <aside class="col-md-9">
                                <h5>Agregar Categoria</h5>
                                <form action="/categories/add" method="POST">
                                    <div class="form-group form-row">
                                        <label class="col-md-3 col-form-label">Categoria</label>
                                        <div class="col">
                                            <input type="text" class="form-control" name="name" placeholder="Nombre">
                                        </div>
                                    </div>

                                    <div class="form mb-2">
                                        <div class="offset-sm-3">
                                            <a href="/categories/categorieslist">
                                                <button class="btn btn-outline-primary" type="button">
                                                    <span class="text">Cancelar</span>
                                                </button>
                                            </a>
                                            <button class="btn btn-primary" type="submit">
                                                <span class="text">Aplicar</span>
                                            </button>
                                        </div>
                                    </div>
                            </aside>
                        </div>
                    </div>
        </div>
        <%- include('partials/footer') %>
</body>

</html>