<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">  
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/logo-pesta.png">
    <title>Error 404!</title>
</head>
<body>
    
    <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

</body>
</html>