<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <div class="container">
        <div class="logo">
          <h1>logotipo</h1>
        </div>
          <div class="barra">
              <input type="text">
            </div>
            <div class="button">
              <button>login</button>
          <button>carrito</button>
        </div>
    </div>
    <div class="category">

                <a href="#">categorias</a>
                <a href="#">categorias</a>
                <a href="#">categorias</a>
                <a href="#">categorias</a>
                <a href="#">categorias</a>
    </div>
    </header>
 <section class="container">

<p>LoLorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.rem ipsum dolor sit amet consectetur adipisicing elit. Totam at hic, ad nihil debitis sint harum alias repellat corrupti veritatis id molestias repudiandae optio, cum reprehenderit, sed earum incidunt mollitia.
</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus incidunt facilis voluptates pariatur quasi molestias. Quis ullam voluptatem praesentium esse nostrum voluptas facilis quas sit deleniti enim, libero itaque sed!
</p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.
voluptatem praesentium esse nostrum voluptas facilis quas sit deleniti enim, libero itaque sed!
</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.
</p>
<p>LoLorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.rem ipsum dolor sit amet consectetur adipisicing elit. Totam at hic, ad nihil debitis sint harum alias repellat corrupti veritatis id molestias repudiandae optio, cum reprehenderit, sed earum incidunt mollitia.
</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus incidunt facilis voluptates pariatur quasi molestias. Quis ullam voluptatem praesentium esse nostrum voluptas facilis quas sit deleniti enim, libero itaque sed!
</p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.
voluptatem praesentium esse nostrum voluptas facilis quas sit deleniti enim, libero itaque sed!
</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.
</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perspiciatis, enim pariatur minus non cumque libero? Voluptates, nostrum quod recusandae veritatis obcaecati vel consequuntur, perspiciatis, quas aut incidunt velit porro. 
</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam at hic, ad nihil debitis sint harum alias repellat corrupti veritatis id molestias repudiandae optio, cum reprehenderit, sed earum incidunt mollitia.
</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus incidunt facilis voluptates pariatur quasi molestias. Quis ullam voluptatem praesentium esse nostrum voluptas facilis quas sit deleniti enim, libero itaque sed!
</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe fugit esse eum consequuntur dolore fuga facilis necessitatibus minima amet temporibus praesentium illum, accusamus porro expedita alias, harum aut earum illo.
</p>

 </section>


</body>
</html>