<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <section class="section-intro">
        <div class="intro-banner-wrap">
            <img src="images/banner.jpeg" class="w-100 img-fluid">
        </div>
    </section>

    <section class="section-name  padding-y-sm">
        <div class="container">
            <header class="section-heading">
                <a href="#" class="btn btn-outline-primary float-right">Ver todo</a>
                <h3 class="section-title">Destacados</h3>
            </header><!-- sect-heading -->
            <div class="row">
                <div class="col-lg-3 col-sm-4">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="images/video-geforce-rtx-2070-super-8gb-evga-xc-gaming-0.jpg"> </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">Grand Theft Auto V(PC)</a>
                            <div class="price mt-1">ARS $850.00</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
                <div class="col-lg-3 col-sm-4">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img
                                src="images/mother-gigabyte-z390m-gaming-0.jpg"> </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">Shadow of the Tomb Raider(PS4)</a>
                            <div class="price mt-1">ARS $1540.00</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
                <div class="col-lg-3 col-sm-4">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="images/mother-asus-b365f-rog-strix--gaming-box-matx-0.jpg"> </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">Boderlands 3(Xbox One)</a>
                            <div class="price mt-1">ARS $2864.00</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
                <div class="col-lg-3 col-sm-4">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img
                                src="images/micro-intel-core-i9-9900k-36-ghz-0.jpg"> </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">Resident Evil 3(PS4)</a>
                            <div class="price mt-1">ARS $2278.00</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
                <div class="col-lg-3 col-sm-4">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="images/mouse-rd-1.jpg"> </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">MOUSE GAMER REDRAGON M607 RGB 8 BOTONES</a>
                            <div class="price mt-1">ARS $4800.00</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
                <div class="col-lg-3 col-sm-4">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="images/auri-1.jpg"> </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">Auricular HyperX Cloud Revolver</a>
                            <div class="price mt-1">ARS $29600.00</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
                <div class="col-lg-3 col-sm-4">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="images/teclado-hyperx-alloy-fps-pro-cherry-red-0.jpg">
                        </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">TECLADO HYPERX ALLOY FPS PRO CHERRY BLUE</a>
                            <div class="price mt-1">ARS $7500.00</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
                <div class="col-lg-3 col-sm-4">
                    <div href="#" class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="images/mouse-logitech-g203-0.jpg"> </a>
                        <figcaption class="info-wrap">
                            <a href="#" class="title">MOUSE LOGITECH G203 RGB ULTIMATE</a>
                            <div class="price mt-1">ARS $6450.00</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div><!-- container // -->
    </section>
    <%- include('partials/footer') %> 
</body>
</html>