<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <!-- <a href="#" class="btn  btn-outline-primary btn-plus"><i class="fas fa-plus"></i></a> -->
    <%- include('partials/header') %>
    <div class="container padding-y">
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <form action="/product/add" enctype="multipart/form-data" method="POST">
                            <article class="gallery-wrap">
                                <div class="img-big-wrap">
                                    <div> <a href="#"><img src="/images/imagenproducto.jpg"></a></div>
                                </div> <!-- slider-product.// -->
                                <div class="thumbs-wrap">
                                    <a href="" class="item-thumb"> <img src="/images/imagenproducto.jpg"></a>
                                    <a href="" class="item-thumb"> <img src="/images/imagenproducto.jpg"></a>
                                    <a href="" class="item-thumb"> <img src="/images/imagenproducto.jpg"></a>
                                    <input type="file" name="imagen" class="subir" >


                                </div> <!-- slider-nav.// -->
                            </article> <!-- gallery-wrap .end// -->
                    </aside>
                    <main class="col-md-6 border-left">
                        <article class="content-body">
                            <div class="form-group">
                                <div class="mb-3">
                                <select id="inputState" class="select" name="categoria">
                                    <option selected value="0">Elige una Categoria</option>
                                    <option value="PC Armadas">PC Armadas</option>
                                    <option value="Notebook">Notebook</option>
                                    <option value="Procesadores">Procesadores</option>
                                    <option value="Placas de Video">Placas de Video</option>
                                    <option value="Memorias RAM">Memorias RAM</option>
                                    <option value="Fuentes">Fuentes</option>
                                    <option value="Motherboard">Motherboard</option>
                                    <option value="Monitores">Monitores</option>
                                    <option value="Consolas">Consolas</option>
                                    <option value="Juegos">Juegos</option>
                                    <option value="Teclados">Teclados</option>
                                    <option value="Mouses">Mouses</option>
                                    <option value="Joysticks">Joysticks</option>
                                    <option value="Audio">Audio</option>
                                </select>
                            </div>
                                
                            
                                <input type="text" placeholder="Marca" class="form-control" name="marca">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Modelo" class="form-control" name="modelo">
                            </div>


                            <div class="mb-3">
                                <div class="form-group">
                                    <input type="number" placeholder="Precio" class="form-control" name="precio">
                                </div>
                            </div> <!-- price-detail-wrap .// -->

                            <div class="form-group">
                                <textarea name="descripcion" class="form-control" id="exampleFormControlTextarea1"
                                    placeholder="Descripcion" rows="3"></textarea>
                                <small class="form-text text-muted"> El carácter máximo es de 250 letras </small>
                            </div>

                            <input class="btn  btn-outline-primary text" type="submit" value="Añadir">
                           
                        </form>
                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->
        </div>
        <section class="padding-y">
            
        </section>

        
    </div>
    <%- include('partials/footer') %>
</body>

</html>