<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <div class="container padding-y">
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <a href="#"><img src="images/micro-intel-core-i3-10100-0.jpg"></a></div>
                        </div> <!-- slider-product.// -->
                        <div class="thumbs-wrap">
                            <a href="" class="item-thumb"> <img src="images/micro-intel-core-i3-10100-0.jpg"></a>
                            <a href="" class="item-thumb"> <img src="images/micro-intel-core-i3-10100-0.jpg"></a>
                            <a href="" class="item-thumb"> <img src="images/micro-intel-core-i3-10100-0.jpg"></a>
                        </div> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">

                        <h2 class="title">MICRO INTEL CORE I3 10100</h2>

                        <div class="rating-wrap mb-3">
                            <span class="badge badge-warning"> <i class="fa fa-star"></i> 3.8</span>
                            <small class="text-muted ml-2">45 reseñas</small>
                        </div>

                        <div class="mb-3">
                            <var class="price h4">$10,000</var>
                        </div> <!-- price-detail-wrap .// -->

                        <p>Diseñá, jugá y trabajá cómodamente con la potencia de Intel Core de 10ma Gen. Lista para todo
                            tipo de usuario a un precio económico.</p>



                        <ul class="list-check mb-4">
                            <li>En stock</li>
                            <li>Garantia 36 meses</li>
                            <li>Envios a toda la Argentina</li>
                        </ul>

                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md flex-grow-0">
                                <label>Cantidad</label>
                                <div class="input-group mb-3 input-spinner">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-light" type="button" id="button-plus"> + </button>
                                    </div>
                                    <input type="text" class="form-control" value="1">
                                    <div class="input-group-append">
                                        <button class="btn btn-light" type="button" id="button-minus"> − </button>
                                    </div>
                                </div>
                            </div> <!-- col.// -->
                        </div>

                        <a href="#" class="btn  btn-primary"> Comprar </a>
                        <a href="#" class="btn  btn-outline-primary"> <span class="text">Añadir</span> <i
                                class="fas fa-shopping-cart"></i> </a>
                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->
        </div>
        <hr class="divider">
        <output>
            <!-- ============================ COMPONENT DETAIL 4  ================================= -->
            <article class="card">
                <div class="card-body">
                    <div class="row">
                        <aside class="col-md-6">
                            <h5>Caracteristicas</h5>
                            <dl class="row">
                                <dt class="col-sm-4">Modelo</dt>
                                <dd class="col-sm-8">Core i3 10100</dd>

                                <dt class="col-sm-4">Familia</dt>
                                <dd class="col-sm-8">Intel Core i3</dd>

                                <dt class="col-sm-4">Nucleos</dt>
                                <dd class="col-sm-8">4</dd>

                                <dt class="col-sm-4">Hilos</dt>
                                <dd class="col-sm-8">8</dd>

                                <dt class="col-sm-4">Frecuencia</dt>
                                <dd class="col-sm-8">3600 Mhz</dd>

                                <dt class="col-sm-4">Frecuencia Turbo</dt>
                                <dd class="col-sm-8">4300 Mhz</dd>

                                <dt class="col-sm-4">Proceso de Fabricacion</dt>
                                <dd class="col-sm-8">14 nm</dd>

                                <dt class="col-sm-4">Chipset GPU</dt>
                                <dd class="col-sm-8">Intel HD Graphics 630</dd>

                                <dt class="col-sm-4">Socket</dt>
                                <dd class="col-sm-8">1200 Comet Lake</dd>
                            </dl>
                        </aside>
                        <aside class="col-md-6">
                            <h5>Tener en cuenta</h5>
                            <ul class="list-check">
                                <li>Hacemos factura A y B.</li>
                                <li>Todos los precios son finales IVA incluido.</li>
                                <li>No aceptamos ningún producto en parte de pago.</li>
                                <li>Todos nuestro artículos son nuevos y se entregan en su empaque original.</li>
                            </ul>
                        </aside>
                    </div> <!-- row.// -->
                    <hr>
                    <p>
                        Para mas informacion visitar la pagina del fabricante <a href="https://www.intel.la/content/www/xl/es/products/processors/core/i3-processors/i3-10100.html">Procesador Intel® Core™ i3-10100.</a> 
                    </p>
                </div> <!-- card-body.// -->
            </article> <!-- card.// -->
            <!-- ============================ COMPONENT DETAIL 4 .//END ================================= -->
        </output>
    </div>
    <%- include('partials/footer') %>
</body>

</html>