<aside class="col-md-3">
    <ul class="list-group">
        <% if(user.category == "admin"){%>
        <a class="profile list-group-item" href="/users/profile">Perfil</a>
        <a class="profile list-group-item" href="/product/productlist">Productos</a>
        <a class="profile list-group-item" href="/categories/categorieslist">Categorias</a>
        <a class="profile list-group-item" href="/users/userslist">Usuarios</a>

        <%}else{%>
        <a class="profile list-group-item" href="/users/profile">Perfil</a>

        <%} %>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="/users/logout">
        <i class="fa fa-power-off"></i>
        <span class="text">Salir</span>
    </a>
</aside>